<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Basics</title>
  <script type="text/javascript" src="vendors/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
  <main ng-app="SigmanautApp" ng-controller="SigmanautController as sigmanaut">
    <section class="container">
      <h1>Sigmanaut's angular list</h1>
      <h3>Add a new person</h3>
      <form class="col-md-12">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="sigmanaut.newPerson.firstName" placeholder="First Name"/>
          <label for="github">Github Username</label>
          <input type="text" name="github" class="form-control" ng-model="sigmanaut.newPerson.github" placeholder="Github Username"/>
        <br />
          <button type="submit" ng-click="sigmanaut.createPerson()">Submit</button>

        </div>
        <div class="from-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="sigmanaut.newPerson.lastName" placeholder="Last Name"/>
          <label for="shoutout">Shoutout</label>
          <input type="text" name="shoutout" class="form-control" ng-model="sigmanaut.newPerson.shoutout" placeholder="Shoutout"/>

        </div>
    </section>
    <section class="container">
      <h3>Class List</h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="thing in sigmanaut.people"> <!-- What needs to be repeated? -->

      {{thing.firstName}} {{thing.lastName}} {{thing.github}} {{thing.shoutout}} 
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
